<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-image: url('/images/coffee-beans-with-props-making-coffee.jpg');
            /* Adjust path as needed */
            background-size: cover;
        }

        .logo {
            width: 270px;
            height: 270px;
            margin: 23px -204px;
        }

        /*----Home----*/
        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 65px;
            background-color: rgb(30 30 35 / 61%);
            margin: 35px;
        }

        nav div portfolio {
            text-align: center;
        }

        nav ul {
            display: flex;
            justify-content: center;
            margin-left: 50px;
        }

        nav ul li {
            font-size: 25px;
            list-style: none;
            margin: 0 23px;
        }

        nav ul li a {
            text-decoration: none;
            color: white;
        }

        nav ul li a:hover {
            text-decoration: none;
            color: rgb(144, 144, 232);
            font-size: 1.1rem;
        }

        .heading {
            margin-left: 45px;
            margin-top: 135px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 5vw;
            color: white;
        }

        .body {
            margin-left: 45px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 29px;
            color: white;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <div id="left"><img src="/images/Untitled design.png" alt="logo" class="logo">
                <!-- Adjust path as needed -->
            </div>
            <div class="right">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#work">Menu</a></li>
                    <li><a href="#contact">Contact Me</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="heading">
        TIME TO DISCOVER
        <br>
        COFFEE HOUSE
    </div>
    <div class="body">
        The coffee is brewed by first roasting the green coffee beans over hot
        <br>
        coals in brazier. given an opportunity to sample.
    </div>
</body>

</html>